<template>
  <div id="app">
    <div class="profile">
      <h1 class="profile-title">ABOUT <span>ME</span></h1>
      <div class="profile-content">
        <div class="profile-photo">
          <img :src="photoUrl" alt="Моя фотографія" class="photo-frame" style="width: 320px; height: auto;">
        </div>
        <div class="profile-details">
          <p>Ім'я: {{ name }}</p>
          <p>Прізвище: {{ surname }}</p>
          <p>Вік: {{ age }}</p>
          <p>Місто: {{ city }}</p>
          <p>Бажана зарплата: {{ desiredSalary }}</p>
          <p>Досвід роботи:</p>
          <ul>
            <li v-for="(exp, index) in experience" :key="index">{{ exp }}</li>
          </ul>
          <button @click="downloadPhoto">Download Cv</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "Марина",
      surname: "Борісова",
      age: 28,
      city: "Хмельницький",
      desiredSalary: "$10,000",
      experience: ["Дизайн реклами: 8 місяців", "Викладач: 2 роки", "Сфера краси: 6 років"],
      photoUrl: require("@/assets/my_photo.jpg"),
    };
  },
  methods: {
    downloadPhoto() {
      fetch('/my_cv.png')
          .then(response => {
            if (!response.ok) {
              throw new Error('Файл не знайдено');
            }
            return response.blob();
          })
          .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', '/my_cv.png');
            link.click();
          })
          .catch(error => {
            console.error('Помилка завантаження фото:', error);
          });
    }
  }
};
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin-top: 60px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-title {
  margin-bottom: 20px;
}

.profile-content {
  display: flex;
}

.photo-frame {
  border: 2px solid #16011c;
  border-radius: 20px;
  padding: 20px;
}

.profile-photo {
  margin-right: 40px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #16011c;
}

span {
  color: darkmagenta;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

button {
  margin-top: 15px;
  position: absolute;
  background-color: #16011c;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 40px;
  min-width: 150px;
}

button:hover {
  background-color: #350348;
}

</style>


